.reminder-container {
  min-width: 300px;
}
.reminder-header {
  display: flex;
  justify-content: space-between;
  align-items: row;
}
.reminder-button {
  background: none;
  border: none;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
